<div id="password-container">
    <a id="settings-link" href="/settings"><i class="fas fa-arrow-left"></i> Back to Settings</a>
    <form method="POST" action="/password" id="password-form" class="form">
        <h2>Change Password</h2>
        <input type="hidden" name="_csrf" value={{csrfToken}} />
        <input type="password" name="old" placeholder="Enter old password" />
        <input type="password" name="pass" placeholder="Enter new password" />
        <input type="password" name="pass2" placeholder="Re-enter password" />
        <input type="submit" value="Change Password" />
    </form>
</div>