<div id="password-container">
    <form method="POST" action="/password" id="password-form">
        <h2>Change Password</h2>
        <input type="hidden" name="_csrf" value={{csrfToken}} />
        <input type="password" name="old" placeholder="Enter old password" />
        <br />
        <input type="password" name="pass" placeholder="Enter new password" />
        <br />
        <input type="password" name="pass2" placeholder="Re-enter password" />
        <br />
        <input type="submit" value="Change Password" />
    </form>
</div>