@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700&display=swap');
@import url('fonts.css');

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Public Sans, sans-serif;
}

#content-container{
    width: 100%;
    height: 100%;
    display: flex;
}

#content-container>nav{
    max-width: 50px;
    min-width: 50px;
    background: #232d36; 
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all .2s;
    overflow-x: hidden;
}

#changer{
    width: 14px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform-origin: left center;
}

#changer>div {
    padding: 12.5% 0;
    box-sizing: border-box;
    flex-grow: 1;
    transition: transform .1s;
}

#changer>div:after{
    content: '';
    background-color: #525e69;
    width: 100%;
    height: 100%;
    display: block;
}

#dropdown-check{
    display: none;
}

#dropdown-check:checked + nav{
    width: auto;
    min-width: 200px;
    max-width: 250px;
}

#dropdown-check:checked + nav>* span{
    opacity: 1;
    visibility: visible;
}

#dropdown-check:checked + nav #changer>div:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 50% 50%;
}

#dropdown-check:checked + nav #changer>div:nth-child(2) {
    transform: scale(0)
}

#dropdown-check:checked + nav #changer>div:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
}

nav>*{
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgba(113, 126, 138, 0.6);
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    transition: background .2s;
}

nav>*>i{
    width: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

nav>* span{
    visibility: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
    min-width: 150px;
    box-sizing: border-box;
    flex-grow: 1;
    text-align: left;
    transition: all .2s; /*match this number w/ animation*/
}

nav>*:not(:last-child) {
    border-bottom: 1px solid rgba(113, 126, 138, 0.6);
}

nav>*:hover{
    background: rgba(198, 224, 247, 0.2);
}

#login-container, #settings-container, #create-container, #password-container{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    border-radius: 10px;
    border: 5px solid rgba(113, 126, 138, 0.6);
    padding: 10px;
    margin: 0;
    width: 325px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.form>*{
    margin: 0;
}

.form>#error{
    color: red;
    height: auto;
    flex-shrink: 0;
    display: block;
}

.form>h2{
    font-size: 32px;
}

.form>input{
    font-family: inherit;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: 0;
    margin: 5px 0;
    font-size: 16px;
}

.form>input:not([type=submit]):focus{
    /* box-shadow: inset 0 0 1px black; */
    box-shadow: 0 0 5px cornflowerblue;
}

.form>input[type=submit]{
    background: #232d36;
    cursor: pointer;
    color: rgba(198, 224, 247);
    border: 0;
    transition: all .1s;
}

.form>input[type=submit]:hover{
    box-shadow: 0 0 0 1px gray;
}

.form p>a{
    color: rgb(113, 126, 138);
    text-decoration: none;
}

.form p>a:hover{
    text-decoration: underline;
}

#settings-form .font-select>option[value=Papyrus]{
    font-family: Papyrus;
}
#settings-form .font-select>option[value="Curlz MT"]{
    font-family: Curlz MT;
}
#settings-form .font-select>option[value=Jokerman]{
    font-family: Jokerman;
}
#settings-form .font-select>option[value=Impact]{
    font-family: Impact;
}
#settings-form .font-select>option[value="Comic Sans MS"]{
    font-family: "Comic Sans MS";
}
#settings-form .font-select>option[value="Courier New"]{
    font-family: Courier New;
}

textarea {
    resize: none;
    font-family: inherit;
}

input {
    font-family: inherit;
}

#posts-container, #profile-container{
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#profile-container>#profile{
    width: 500px;
}

#posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.post{
    width: 500px;
    border-radius: 25px;
    box-shadow: 0 0 2px black;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.post:not(:last-child){
    margin-bottom: 20px;
}

.post>*{
    display: inline-block;
    margin: 0;
    color: inherit;
}

.post>a{
    text-decoration: none;
}

.post>a:hover{
    text-decoration: underline;
}